
:root {
    --nude: #f7d1c6;
    --strawberry: #c83f49;
    --green-apple: #a8e4a0;
    --oceanic: #4daf9f;
    --dark-gray: #3d3d3d;
    --white: #eee;
}


body {
    background-color: var(--oceanic);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 98vw;
}

.header {
    font-size: 4.8rem;
    color: var(--dark-gray);
}

.board {
    display: grid;
    width: 400px;
    height: 400px;
    gap: 10px;
    background: var(--dark-gray);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
    background-color: var(--oceanic);
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.buttons div {
    font-size: 1.4rem;
    color: var(--white);
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--dark-gray);
}

.buttons div:hover {
    transform: scale(1.02);
}

.buttons div:active {
    transform: scale(0.98);
}

.difficulty {
    display: flex;
    justify-content: center;
    gap: 4vw;
}

.difficulty-choice {
    font-size: 1.4rem;
    color: var(--dark-gray);
    border-radius: 15px;
    padding: 10px 20px;
}

.main {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
}

.marker-select {
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
}

.marker-select > svg {
    color: var(--dark-gray);
}

#x, #o{
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 100%;
    padding: 8px 12px;
}

#o {
    background-color: var(--white);
    color: var(--dark-gray);
}

#x {
    background-color: var(--dark-gray);
    color: var(--white);
}

.animation{
    transition: 0.3s;
    transform: rotate(180deg);
}

.animation-2 {
    transition: 0.3s;
    transform: rotate(360deg);
}

